@font-face {
    font-family: articleTitleFont;
    src: url(/fonts/BebasNeue-Regular.woff);
}

.h-120px {
    height: 120px;
}

.article-text {
    white-space: pre-line;
    column-width: 500px;
    column-rule: 1px solid #e0e0e0;
    text-align: left;
}

.article-image {
    height: 500px;
    border-radius: 100px 100px 0 0;
    overflow: hidden;
}

.article-image img {
    width: 100%;
}


.article-cover {
    border-radius: 0 0 100px 100px;
}

.article-title {
    font-family: articleTitleFont;

}

.article-buttons {
    text-align: right;
    padding-top: 10px;
}

like-button {
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #65676b;
    padding: 5px 10px;
}

.twitter-share-button[style] {
    vertical-align: text-bottom !important;
}


like-button.liked {
    color: #0571ed;
}

like-button.liked i {
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
    100% {
        transform: rotate(-15deg) scale(1.3);
        -webkit-transform: rotate(-15deg) scale(1.3);
        -moz-transform: rotate(-15deg) scale(1.3);
        -ms-transform: rotate(-15deg) scale(1.3);
        -o-transform: rotate(-15deg) scale(1.3);
        filter: blur(0.5px);
        -webkit-filter: blur(0.5px);
    }
}

.twitter-share-button {
    height: 100%;
}