/* FormSec and */

#formSec {
    justify-content: center;
    align-items: center;
    display: flex;
}

    #formSec .formTitle h2 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 300 !important;
        color: #111B47;
    }

    #formSec aside {
        background-color: #ffffff;
        border-radius: 8px;
        width: 95%;
        max-width: 450px;
        -webkit-box-shadow: 0 0 10px 3px #C7C7C7;
        box-shadow: 0 0 10px 3px #C7C7C7;
        padding: 17px;
    }

    #formSec form h4 {
        font-size: 15px;
        font-weight: normal;
        color: #181818;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    #formSec input[type=text], #formSec input[type=password], #formSec input[type=email] {
        width: 100%;
        font-size: 15px;
        padding: 5px 10px;
        border: #ccc solid thin;
        border-radius: 3px;
    }

    #formSec button[type=submit] {
        width: 100%;
        margin-top: 20px;
        background-color: #111B47;
        color: #ffffff;
        font-size: 16px;
        padding: 8px;
        text-align: center;
        border: none;
        border-radius: 3px;
        transition: all ease-in-out 0.3s;
    }

        #formSec button[type=submit]:hover {
            background-color: #ffc451;
        }