<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DGN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container">
            <nav class=" navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand-left mr-auto d-sm-block d-xs-block d-lg-none" href="#home">
                    <img src="~/images/logo.png" />
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggler"
                        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-none d-lg-block" style="margin: 0; float: none;" href="#home">
                    <img src="~/images/logo.png" />
                </a>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav nav-menu mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">PC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#why-us">PS5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">More</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-menu ml-auto">
                        <li class="nav-item btn-item">
                            <a asp-controller="Users" asp-action="Register" class="nav-btn register-btn">Register</a>
                        </li>
                        <li class="nav-item last btn-item">
                            <a asp-controller="Users" asp-action="Login" class="nav-btn login-btn">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="main-body pb-3">
        @RenderBody()
    </main>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DGN - <a asp-area="" asp-controller="Branches">Contact us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
