@model DGN.Models.User

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <section id="formSec" class="">
        <div class="container d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner"> 
                    <div class="formTitle">
                        <h2>Change Password</h2>
                        <p class="text-danger">* Required</p>
                    </div>
                    <hr class="sep">
                    <form id="changePasswordForm" asp-action="ChangePassword" onsubmit="return isValidForm()">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Current Password</label><span class="text-danger">*</span>
                            <input type="password" id="currPassword" name="currentPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">New Password</label><span class="text-danger">*</span>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm New Password</label><span class="text-danger">*</span>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" />
                        </div>
                        @if (ViewBag.Error != null)
                        {
                            <div id="currPasswordError" class="text-danger">@ViewBag.Error</div>
                        }
                        <span id="message" class="text-danger"></span>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Change Password" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </aside>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/changePassword.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}