@model DGN.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <section id="formSec" class="">
        <div class="container d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner">
                    <div class="formTitle">
                        <h2>Login</h2>
                    </div>
                    <hr class="sep">
                    <form asp-action="Login" id="login_form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4>E-mail</h4>
                        <input type="email" name="Email" id="input_mail" placeholder="E-mail address" required="">
                        <h4>Password</h4>
                        <input type="password" name="password" id="input_password" placeholder="Password" required="">
                        @if (ViewBag.Error != null)
                        {
                            <div class="text-danger">@ViewBag.Error</div>
                        }
                        <button type="submit" value="Login">
                            <span id="spinner" class="spinner-grow spinner-grow-sm" style="display: none;"></span>
                            Login
                        </button>
                    </form> <br/>
                    <div>
                        Not registered? <a asp-action="Register">Click here</a> to register
                    </div>
                </div>
            </aside>

        </div>
    </section>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}