@model DGN.Models.Branch

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <section id="formSec" class="">
        <div class="container d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner">
                    <div class="formTitle">
                        <h2>Create new branch</h2>
                    </div>
                    <hr class="sep">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="BranchName" class="control-label"></label>
                            <input asp-for="BranchName" class="form-control" />
                            <span asp-validation-for="BranchName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActivityTime" class="control-label"></label>
                            <textarea asp-for="ActivityTime" class="form-control"></textarea>
                            <span asp-validation-for="ActivityTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationLatitude" class="control-label"></label>
                            <input asp-for="LocationLatitude" class="form-control" />
                            <span asp-validation-for="LocationLatitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationLongitude" class="control-label"></label>
                            <input asp-for="LocationLongitude" class="form-control" />
                            <span asp-validation-for="LocationLongitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Get back to list </a>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" href="~/css/branches.css" />
}