@model DGN.Models.Branch

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <section id="formSec" class="">
        <div class="container d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner">
                    <div class="formTitle">
                        <h2>Edit</h2>
                    </div>
                    <hr class="sep">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="BranchName" class="control-label"></label>
                            <input asp-for="BranchName" class="form-control" />
                            <span asp-validation-for="BranchName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActivityTime" class="control-label"></label>
                            <textarea asp-for="ActivityTime" class="form-control"></textarea>
                            <span asp-validation-for="ActivityTime" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <p>
                                Enter address
                                <a class="btn btn-light" onclick='SearchAdress()' style="float: right;">
                                    <i class="bi bi-search"></i>
                                </a>
                            </p>
                            <input id='searchTbx' type='text' />
                            <span id='message'></span>
                        </div>

                        <div class="row">
                            <div class="col-md-12 map">
                                <div id="myMap" style="width:100%; height:400px;"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="LocationLatitude" class="control-label"></label>
                            <input asp-for="LocationLatitude" class="form-control" id="LocationLatitude" />
                            <span asp-validation-for="LocationLatitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationLongitude" class="control-label"></label>
                            <input asp-for="LocationLongitude" class="form-control" id="LocationLongitude" />
                            <span asp-validation-for="LocationLongitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Get back to list </a>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var branchesList = null;
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
    <script src="~/js/branches.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/branches.css" />
}