@model DGN.Models.ContactUs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContactUs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTime" class="control-label"></label>
                <input asp-for="ActivityTime" class="form-control" />
                <span asp-validation-for="ActivityTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationLatitude" class="control-label"></label>
                <input asp-for="LocationLatitude" class="form-control" />
                <span asp-validation-for="LocationLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationLongitude" class="control-label"></label>
                <input asp-for="LocationLongitude" class="form-control" />
                <span asp-validation-for="LocationLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
